body {
	font-family: "Open Sans", Tahoma;
	overflow-x: hidden;
}

/* Loader */

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #007bff;
	border-bottom: 16px solid #007bff;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*Global*/

.scroll-spy-container {
	position: relative;
}

/*Navigation*/

nav {
	transition: 1s ease;
	padding: 0;
}

nav ul li::after {
	content: '';
	display: block;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	height: 3px;
	width: 100%;
	background: #007bff;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

nav ul li:hover::after {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.brandLogo {
	height: 2em;
	width: auto;
	transition: 1s ease;
}

.brandTitle {
	transition: 1s ease;
	font-size: 1.5em;
	margin: 0;
}

/*Header*/

.home-section {
	background: url(../img/creative.jpg) no-repeat fixed;
	background-size: cover;
	height: 900px;
	width: 100vw;
	position: relative;
}

.dark-overlay {
	position: absolute;
	top: 0;
	right: 0;
	height: 900px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
}

.home-inner {
	padding: 250px 0 100px 0;
}

header .fa {
	background-color: #fff;
	color: #007bff;
	padding: 4px;
	border-radius: 5px;
	font-size: 1.5rem;
}

/*Section*/

section .fa {
	background-color: #3f3f3f;
	color: #fff;
	padding: 4px;
	border-radius: 5px;
	font-size: 1.5em;
}

/*Footer*/

footer {
	height: 200px;
	overflow: hidden;
}